.singleSlot {
    text-align: center;
    /* margin: 1px; */
    border: 1px solid #777;
    width: 40px;
    height: 40px;
    background-color: rgb(46, 8, 82);
    float: left;
    border-radius: 50%;   
  }